<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <link rel='stylesheet' href='build/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css"/>
    <script type='text/javascript' src='build/loading-bar.min.js'></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <title>KPop Idols - Face Identifier</title>
</head>

<body ng-app="app" ng-controller="mainCtrl">
    <div class="ui container">
        <div class="ui container"></div>
        <h1>KPop Idols - Face Identifier</h1>

        <div class="ui form">
            <div class="inline fields">
                <label for="fruit">Paste link here or upload picture</label>
                <div class="field" ng-click="input.source = 'link'">
                    <div class="ui radio checkbox">
                        <input type="radio" name="source" ng-model="input.source" value="link" checked="" tabindex="0" class="hidden">
                            <label for="link">Paste link</label>
                            </div>
                </div>
                <div class="field" ng-click="input.source = 'file'">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" ng-model="input.source" value="file" tabindex="0" class="hidden">
                            <label for="file">Upload picture</label>
                            </div>
                </div>
            </div>
            
            <div class="field">
                <div ng-class="{loading: isLoading}" class="ui action input">
                    <input type="text" ng-if="input.source == 'link'" ng-model="input.imageLink" placeholder="Paste image address here"/>
                    <input type="file" fileread="input.imageLink" ng-if="input.source == 'file'" placeholder="Upload picture here"/>
                    
                    <button ng-disabled="isLoading || !input.imageLink" ng-click="recognize()" class="ui icon primary button">
                        
                        <span ng-if="!isLoading">
                            <i class="search icon"></i>
                            Search for idol</span>
                        <span ng-if="isLoading">
                            <i class="spinner loading icon"></i>
                            Searching ...</span>
                    </button>
                    
                </div>
            </div>
        </div>
        <!-- Submit form -->
        <!--
        <div class="ui form">
            <div class="field">
                <div ng-class="{loading: isLoading}" class="ui action input">
                    <div class="field" ng-click="input.source = 'link'">
                        <div class="ui radio checkbox">
                            <input type="radio" name="source" ng-model="input.source" value="link" checked="" tabindex="0" class="hidden">
                                <label for="link">Image Link</label>
                                </div>
                    </div>
                    <div class="field" ng-click="input.source = 'file'">
                        <div class="ui radio checkbox">
                            <input type="radio" name="fruit" ng-model="input.source" value="file" tabindex="0" class="hidden">
                                <label for="file">Upload picture</label>
                                </div>
                    </div>
                    <br>
                    
                    <input type="text" ng-if="input.source == 'link'" ng-model="input.imageLink" placeholder="Paste the image link here"/>
                    <input type="file" fileread="input.imageLink" ng-if="input.source == 'file'" placeholder="Upload picture"/>

                    <!-- <input type="text" ng-model="imageLink" placeholder="Paste the image link here" />
                    
                    <button ng-disabled="isLoading || input.imageLink" ng-click="recognize()" class="ui icon primary button">
                        <span ng-if="!isLoading">
                                        <i class="search icon"></i>
                                        Identify</span>
                        <span ng-if="isLoading">
                                        <i class="spinner loading icon"></i>
                                        Searching... </span>
                    </button>

                </div>
            </div>
        </div>
        -->
        <br>

        <div class="ui center aligned basic segment">
            <div class="source-image">
                <img ng-if="input.imageLink" ng-src="{{input.imageLink}}" id="source-image" class="ui"/>
                <div class="idol-face" ng-repeat="face in faceDisplay" ng-style="face.style">
                    <span class="idol-name">{{face.name}}</span>
                </div>
            </div>
        </div>        <!-- Display image and identified box-->
        <!--<div class="source-image">
            <img ng-if="input.imageLink" ng-src="{{input.imageLink}}" id="source-image" class="ui" />
            <div class="idol-face" ng-repeat="face in faceDisplay" ng-style="face.style">
                <span class="idol-name">{{face.name}}</span>
            </div>
        </div>
         -->
        <br>

        <h2>How to use</h2>
        Pick an image of the KPop idol that you want to identify and paste the image address into the box above and hit the button.<br><br>
        <b>Note:</b> It only works for the idols listed below. Since it takes a while to train the system to identify faces and I can't afford the cost to run the API, I only included the most famous groups.
        The accuracy of this identifier can be guaranteed at 85-90%. If you put in someone not on the list, the program may try to identify he/she as someone else similar.
        
        <!-- List idols and return JSON result -->
        <div>
            <br>
            <h4>List of idols available to identify: </h4>
            <div class="row">
                <div>
                    <div class="column">
                    <h5>SNSD</h5>
                    <ul>
                        <li>Taeyeon</li>
                        <li>Sunny</li>
                        <li>Tiffany</li>
                        <li>Hyoyeon</li>
                        <li>Yuri</li>
                        <li>Sooyoung</li>
                        <li>Yoona</li>
                        <li>Seohyun</li>
                    </ul>
                    
                    <h5>Red Velvet</h5>
                    <ul>
                        <li>Irene</li>
                        <li>Seulgi</li>
                        <li>Wendy</li>
                        <li>Joy</li>
                        <li>Yeri</li>
                    </ul>
                    
                    <h5>BLACKPINK</h5>
                    <ul>
                        <li>Jisoo</li>
                        <li>Jennie</li>
                        <li>Rose</li>
                        <li>Lisa</li>
                    </ul>
                    
                    <h5>BTS</h5>
                    <ul>
                        <li>Jin</li>
                        <li>Suga</li>
                        <li>J-Hope</li>
                        <li>RM BTS</li>
                        <li>Jimin</li>
                        <li>V BTS</li>
                        <li>Jungkook</li>
                    </ul>
                    
                    </div>
                    <div class="column">
                    <h5>TVXQ (DBSK)</h5>
                    <ul>
                        <li>Jaejoong (JYJ)</li>
                        <li>Yoochun (JYJ)</li>
                        <li>Junsu (JYJ)</li>
                        <li>Yunho (DBSK)</li>
                        <li>Changmin (DBSK)</li>
                    </ul>
                    
                    <h5>Big Bang</h5>
                    <ul>
                        <li>T.O.P</li>
                        <li>Taeyang</li>
                        <li>G-Dragon</li>
                        <li>Daesung</li>
			<i>Seungri can't be identified</i>
                    </ul>
                    
                    <h5>2NE1</h5>
                    <ul>
                        <li>Bom</li>
                        <li>Dara</li>
                        <li>CL</li>
                        <li>Minzy</li>
                    </ul>
                    
                    <h5>TWICE</h5>
                    <ul>
                        <li>Nayeon</li>
                        <li>Jeongyeon</li>
                        <li>Momo</li>
                        <li>Sana</li>
                        <li>Jihyo</li>
                        <li>Mina</li>
                        <li>Dahyun</li>
                        <li>Chaeyoung</li>
                        <li>Tzuyu</li>
                    </ul>
                    
                    <ul>
                        <li>IU</li>
                        <li>Ailee</li>
                    <ul>
                    </div>
                    <div class="column">
                        
                    <h5>SHINee</h5>
                    <ul>
                        <li>Onew</li>
                        <li>Key</li>
                        <li>Minho</li>
                        <li>Taemin</li>
                        <i>(In memory of Jonghyun, I decided to not put him on the image database)</i>
                    </ul>
                    
                    <h5>Wonder Girls</h5>
                    <ul>
                        <li>Yubin</li>
                        <li>Yeeun</li>
                        <li>Sunye</li>
                        <li>Sunmi</li>
                        <li>Hyuna</li>
                        <li>Sohee</li>
                        <li>Hyerim</li>

                    </ul>
                    
                    <h5>GOT7</h5>
                    <ul>
                        <li>Mark</li>
                        <li>JB</li>
                        <li>Jackson</li>
                        <li>Jinyoung</li>
                        <li>Youngjae</li>
                        <li>BamBam</li>
                        <li>Yugyeom</li>
                    </ul>
                    
                    <h5>EXO</h5>
                    <ul>
                        <li>Xiumin</li>
                        <li>Suho</li>
                        <li>Lay</li>
                        <li>Baekhyun</li>
                        <li>Chen</li>
                        <li>Chanyeol</li>
                        <li>D.O.</li>
                        <li>Kai</li>
                        <li>Sehun</li>
                        <li>Luhan</li>
                        <li>Kris</li>
                        <li>Tao</li>
                    </ul>
                    </div>
                </div>
                <!-- <div class="ui bulleted list">
                    <div class="item" ng-repeat="idol in idols">{{idol}}</div>
                </div>
            </div>
            <div class="twelve wide column">
                <!-- <h4>JSON result</h4>
                <div><pre>{{faces | json:2}}</pre>
                </div> -->
            </div>
        </div>
        <br>

        <!-- Show testing images -->
        <div>
            <h4>Test images</h4>
            <div class="ui four cards">
                <div class="card" ng-repeat="image in testImages">
                    <a target="_blank" ng-href="{{image}}" class="image test-thumbnail">
                        <img ng-src="{{image}}">
                    </a>
                </div>
            </div>
        </div>
        <br><br>
        
        <h2>Why I made this website</h2>
        I believe it's really a thing among me and my friends: We usually can't identify KPop idols ourselves since they look a lot similar (except for the most popular ones)<br>
        Therefore, I came up with an idea of making a face identifier to help myself and my homies.
        
        <br>
        <br>
        <div>
            <h2>Credit</h2>
            <b>Author:</b> Kevin Luu (<a href="https://github.com/khluu">My Github</a>) <br>
            <br>
            <p>Thank you Huy Hoang Pham, the author of <a href="http://toidicodedao.com">Toi Di Code Dao</a>, for your guide on building a face identifier site using Microsoft Cognitive Services API.<br> Your "JAV Idol Identifier" really inspired me to do this LMAO</p>
            <h5>Technologies used in this website: <br></h5><i>(I didn't build it from scratch)</i></h2>
            <ul>
                <li>Node.JS</li>
                <li>Express.JS</li>
                <li>Angular.JS</li>
                <li>Microsoft Cognitive Services API (Bing Search and Face)</li>
                <li>Microsoft Azure Web Services</li>
                <li>HTML/CSS and Javascript</li>
            </ul>
            <br>
        </div>
    </div>
</body>
<script>
    (function(i, s, o, g, r, a, m) {
     i['GoogleAnalyticsObject'] = r;
     i[r] = i[r] || function() {
     (i[r].q = i[r].q || []).push(arguments)
     },
     i[r].l = 1 * new Date();
     a = s.createElement(o),
     m = s.getElementsByTagName(o)[0];
     a.async = 1;
     a.src = g;
     m.parentNode.insertBefore(a, m)
     })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
     ga('create', 'UA-88777570-1', 'auto');
     ga('send', 'pageview');
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDNvsfwFt7W-G9QahIUdXoE0wcHFuyrKvA",
        authDomain: "javidolface.firebaseapp.com",
        databaseURL: "https://javidolface.firebaseio.com",
        projectId: "javidolface",
        storageBucket: "javidolface.appspot.com",
        messagingSenderId: "680094238689"
    };
firebase.initializeApp(config);
    </script>

<script src="/js/libs/dirPagination.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/vi.js"></script>
<script src="/js/main.js"></script>
<script src="/js/app.js"></script>

<script src="https://sleepy-fuel.glitch.me/track.js"></script>

</html>
